.foot{
    background: #050022;
    height: 260px;
    width: 100%;
    margin-top: 50px;
}

.Logo2{
    width: 200px;
    bottom: 0;
    margin-top: 40px;
    margin-left: 40px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-left: 850px;
  }

  .footer-links div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }

  .footer-disclaimer {
    position: absolute;
    top: 298%;
    color: #FFF;    
    width: 651px;
    font-size: 12px;
    font-weight: 400;
    left: 2.5%;
  }

  .contact{
    margin-left: 350px;
  }

  .Logo3{
    position: absolute;
    top:307%;
    left: 2%
  }